.App {
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  .header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background: aliceblue;
    .logo {

    }
    .favourites {

    }
  }
  .main {
    background-color: #ededed;
    min-height: calc(100vh - 48px);
    .search-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      form {
        display: flex;
    align-items: center;
      }
      .default-input {
        border: none;
        outline: none;
        height: 38px;
        padding: 10px 10px 10px 13px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }
     .search-icon {
       display: inline-block;
       height: 38px;
       width: 40px;
       display: flex;
       justify-content: center;
       align-items: center;
       background: #e0e0e0;
       border-top-right-radius: 6px;
       border-bottom-right-radius: 6px;
       overflow: hidden;
       cursor: pointer;
     } 
    }
    .main-content {
      max-width: 1300px;
      width: 100%;
      margin: auto;
      padding: 20px;
      display: flex;
      flex-flow: row wrap;
    }
  }
}
.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}
.rs-dropdown {
  .rs-btn {
    border-radius: 0;
    background-color: #fff;
    height: 38px;
    position: relative;
  }
  .rs-dropdown-menu {
    border-radius: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }
}
.rs-dropdown-open.rs-dropdown-placement-top-start > .rs-dropdown-menu, .rs-dropdown-open.rs-dropdown-placement-bottom-start > .rs-dropdown-menu {
  left: -3px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
